name: nwnassignment

on:
  push:
    branches:
      - 'release/v[0-9]+.[0-9]+'

jobs:
  build:
    if: "!startsWith(github.event.head_commit.message, '#NORUN')"
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install go
        uses: actions/setup-go@v4
        with:
          go-version: '^1.13.1'

      - name: Install Railway with NPM
        run: npm i -g @railway/cli

      - name: deploy railway
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Send data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "DipSA 56 CI/CD Submission",
                    "emoji": true
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Name:* NAY WONN NI"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Email:* e1112939@u.nus.edu"
                    }
                  ]
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "Matriculation: A0269556L"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "Repository:\n${{github.event.repository.html_url}}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "https://${{secrets.VAR_RAILWAY_URL}}.up.railway.app"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": " "
                  },
                  "accessory": {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "Go",
                      "emoji": true
                    },
                    "value": "click_me_123",
                    "url": "https://${{secrets.VAR_RAILWAY_URL}}.up.railway.app",
                    "action_id": "button-action"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{secrets.SLACK_WEBHOOK_URL}}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK